@model IEnumerable<RateIt.Models.Show>

@{
    ViewBag.Title = "Index";
}

<h2>All Shows</h2>

<p>
    @using (Html.BeginForm("Index", "ShowSearch", FormMethod.Get))
    {

        <b> Search By:</b>@Html.RadioButton("searchBy", "ShowName", true) <text>  Show </text>
        @Html.RadioButton("searchBy", "DirectorName") <text> Director  </text> <br />
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ShowName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRelease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreOfShow)
        </th>
        
        <th></th>
    </tr>
    @if (Model.Count() == 0)
     {
        <tr>
            <td colspan="5">Your search does not exist </td>
        </tr>
    }
    else
    {
        foreach (var item in Model) 
         {
            <tr>
        
                <td>
                    @Html.DisplayFor(modelItem => item.ShowName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirectorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRelease)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreOfShow)
                </td>
        
                <td>
                    @Html.ActionLink("Details", "Details","Show", new { id=item.ShowId }, null) 
                </td>
            </tr>
        }

    }

</table>
