@model RateIt.Models.Music

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Music</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRelease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreOfMusic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreOfMusic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfMusic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfMusic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MusicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
