@model IEnumerable<RateIt.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>All Movies</h2>

<p>
    @using (Html.BeginForm("Index", "MovieSearch", FormMethod.Get))
    {

        <b> Search By:</b>@Html.RadioButton("searchBy", "MovieName", true) <text>  Movie </text>
        @Html.RadioButton("searchBy", "DirectorName") <text> Director  </text> <br />
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.MovieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRelease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreOfMovie)
        </th>

        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="5">Your search does not exist </td>
        </tr>
    }
    else
    {

        foreach (var item in Model)
         {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirectorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRelease)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreOfMovie)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Movie", new { id = item.MovieId }, null)
                </td>
            </tr>
         }
    }

</table>
